@use super::statics::*; @use crate::models::threads::Thread; @use
crate::models::forums::Forum; @use crate::{view, footer}; @(forum: &Forum,
threads: &[Thread])

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UPSB v4 Archive | @forum.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/@main_css.name" />
  </head>
  <body>
    <main>
      <h1><a href="/">UPSB v4</a></h1>
      <h2>@view::from_html(&forum.title)</h2>
      <p>@view::from_html(&forum.description)</p>

      <ol>
        @for thread in threads {
        <li>
          <header>
            <a href="/thread/@thread.threadid">@view::decode(&thread.title)</a>
            <span class="author"
              >started by
              <a href="/member/@thread.postuserid"
                >@thread.postusername</a
              ></span
            >
            <span class="post-count">
              (@thread.replycount posts)
            </span>
            <div class="details">
              Last Post: @view::epoch_to_datetime(thread.lastpost)
            </div>
          </header>
        </li>
        }
      </ol>
    </main>
  </body>

  @:footer()
</html>
