@use super::statics::*; @use crate::models::forums::Forum; @use crate::view;
@use crate::footer; @(forums: &[Forum])

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UPSB v4 Archive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/@main_css.name" />
  </head>
  <body>
    <main>
      <h1>UPSB v4</h1>

      <ol>
        @for forum in forums {
        <li>
          <header>
            <a href="/forum/@forum.forumid">@view::from_html(&forum.title)</a> |
            threads: @forum.threadcount | Posts: @forum.replycount
          </header>
          <p>@view::from_html(&forum.description)</p>
        </li>
        }
      </ol>
    </main>
  </body>

  @:footer()
</html>
