@use super::statics::*; @use crate::models::threads::Thread; @use
crate::models::forums::Forum; @use crate::models::posts::Post; @use
crate::{view, footer}; @(forum: &Forum, thread: &Thread, posts: &[Post])

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UPSB v4 Archive | @thread.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/@main_css.name" />
  </head>
  <body>
    <main>
      <h1><a href="/">UPSB v4</a></h1>
      <h2>
        <a href="/forum/@thread.forumid">@view::from_html(&forum.title)</a> /
        @view::from_html(&thread.title)
      </h2>

      <ol>
        @for post in posts {
        <li class="post">
          <header>
            <span class="author">
              <a href="/member/@post.userid">@post.username</a></span
            >
            <div class="details">
              Date: @view::epoch_to_datetime(post.dateline)
            </div>
          </header>
          <p class="post-content">@view::from_bbcode(&post.pagetext)</p>
        </li>
        }
      </ol>
    </main>
  </body>

  @:footer()
</html>
